---
layout: page
title: "Posts"
permalink: /{{ site.baseurl }}/posts/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced">
  {% assign posts = site['mposts'] | sort: 'date' %}
  {% for project in posts %}
    {% if project.phony != true and project.ready %}
      <li>
        <strong>{{ project.date | date: '%y-%m-%d' }}</strong>:
        {% if project.ready %}
          <a href="{{ project.url }}">{{ project.title }}</a>
        {% endif %}
        {% if project.details %}
          <br>
          ({{ project.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>